@mixin navlink-style {
    padding: 15px;
    width: 55px;
    height: 20px;
}

.navbar {
    padding: 10px;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .home-link {
        @include navlink-style;
    }

    .blog-link {
        @include navlink-style;
    }
        .navlink {
            text-decoration: none;
            color: black;
            font-weight: 300;
            font-size: 20px;

            &:hover {
                color: rgb(79, 234, 255);
                transition: 1s;
            }
        }

    }