.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    justify-items: center;
    margin-top: 45px;
}


.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 1s;
    width: 250px;
    height: 160px;
    padding: 20px;
    margin: 0px 0px 50px 0px;
    cursor: default;
    border-bottom: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    font-size: 16px;
    
    

    &:hover {
        transition: ease-in-out 1.2s;
        border-bottom: 1px solid black;
        border-radius: 25px;
        box-shadow: 0 3px 10px rgb(79, 234, 255 / .7);
    } 
}

@media (max-width: 45em) {
    .home-container{
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
    }

    .square-container {
        margin-top: 0px;
    }
}