.blog-post-wrapper{
    display: grid;
    // padding-bottom: 20px;
    width: 600px;
    margin-top: 45px;
}
.blog-post {
    // display: flex;
    padding: 25px;
    border-top: 2px solid black;

    .attribute {
        // padding: 20px;
        display: flex;
        align-items: center;
        text-align: left;
        height: 30px;
    }
}

@media (max-width: 45em) {
    .blog-post-wrapper {
        max-width: 300px;
    }

    .attribute {
        padding: 10px;
    }
}